.root {
  position: relative;
}

.input {
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 12px 20px;
  padding-left: 42px;
  width: 300px;
  border-radius: 10px;
  font-size: 16px;
  color: gray;
}

.icon {
  width: 22px;
  height: 22px;
  position: absolute;
  left: 14px;
  top: 14px;
  opacity: 50%;
}
.iconCloce {
  position: absolute;
  right: 7px;
  top: 11px;
  opacity: 40%;
  width: 25px;
  height: 25px;
  cursor: pointer;
  &:hover {
    opacity: 0.8;
  }
}
